@import "tailwindcss";

/* Agrega esto a tu archivo de estilos globales (por ejemplo, App.css) */
.tiptap-editor {
  white-space: pre-wrap;
}
.ProseMirror {
  outline: none;
}

/* estilos básicos para que H y listas se vean bien dentro de editor */
.ProseMirror h1 { font-size: 1.25rem; font-weight: 700; margin: 0.5rem 0; }
.ProseMirror h2 { font-size: 1.125rem; font-weight: 600; margin: 0.4rem 0; }
.ProseMirror h3 { font-size: 1rem; font-weight: 600; margin: 0.3rem 0; }

.ProseMirror ul, .ProseMirror ol {
  padding-left: 1.25rem;
  margin: 0.4rem 0;
}
.ProseMirror li {
  margin: 0.2rem 0;
}

.prose ol  {
  list-style-type: decimal;
  padding-left: 1.25rem; /* o ajusta según tu diseño */
}
.prose ul {
  list-style-type: circle;
  padding-left: 1.25rem; 
  /* list-style: disc; */
}
.prose ul li::marker{
color: #37ce4d;
}
.prose ol li::marker{
color: #45ec5e;
}

/* estilos chatbot */

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-in-out;
}

/* para carrusel de reseña */
.review-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Estilos Chatbot */
/* Escritorio — por defecto */
.chatbot-container {
  width: 420px;
  height: 520px;
  border-radius: 12px;
}

/* Moviles */
@media (max-width: 480px) {
  .chatbot-container {
    width: 95vw;
    height: 75vh;
    right: 50%;
    transform: translateX(50%);
    bottom: 10px;
    border-radius: 16px;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 820px) {
  .chatbot-container {
    width: 85vw;
    height: 70vh;
    right: 20px;
    bottom: 20px;
    border-radius: 18px;
  }
}
